/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
}

.navbar {
    background-color: #2980b9;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #266489;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #266489;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto;
    max-height: 300px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

#search-input-clientes, #search-input-vendedores {
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-btn-clientes, #search-btn-vendedores {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn-clientes:hover, #search-btn-vendedores:hover {
    background-color: #45a049;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

.tablinks {
    background-color: #3498db;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    border-radius: 10px 10px 0 0;
    margin-right: 2px;
    color: white;
}

.tablinks:hover {
    background-color: #2980b9;
}

.tablinks.active {
    background-color: #ccc;
    color: #333;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form textarea:focus,
form select:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px #3498db;
}

form input[type="submit"] {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #2980b9;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 5px solid #ccc;
}

.table-container {
    margin-top: 80px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 70px;
    z-index: 1;
}

th {
    background-color: #3498db;
    color: white;
}

#lista-clientes li, #lista-vendedores li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

#lista-clientes li:hover, #lista-vendedores li:hover {
    background-color: #f9f9f9;
}

#gerar-planilha-clientes, #gerar-planilha-vendedores {
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#gerar-planilha-clientes:hover, #gerar-planilha-vendedores:hover {
    background-color: #266489;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2980b9;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
