/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9; /* Azul claro */
    margin: 0;
    padding: 0;
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #3498db; /* Azul */
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra na barra de navegação */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-right: 1px solid #2980b9; /* Adiciona borda à direita em cada item */
}

.navbar a:last-child {
    border-right: none; /* Remove borda à direita do último item */
}

.navbar a:hover {
    background-color: #2980b9; /* Azul mais escuro */
}

.navbar a.active {
    background-color: #2980b9; /* Azul mais escuro para o item ativo */
}

/* Estilos para o conteúdo da página */
.content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff; /* Branco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra no conteúdo */
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333; /* Preto */
    text-align: center;
}

.profile-info {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ecf0f1; /* Azul claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra nos blocos de informações */
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Preto */
    text-align: center;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; /* Preto */
    line-height: 1.6;
}

/* Estilos para o rodapé */
footer {
    background-color: #3498db; /* Azul claro */
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}
